DATABASE_URL=postgres://postgres:password@db:5432/migarden_development
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=migarden_development

RAILS_MASTER_KEY=
SECRET_KEY_BASE=
PORT=3000
RAILS_ENV=development
