<div class="page-header">
  <div>
    <h1 class="page-header__title">Editar planta</h1>
    <p class="page-header__subtitle">Atualize as informações de <%= @plant.name %>.</p>
  </div>
  <%= link_to "Voltar", @plant, class: "btn btn--ghost" %>
</div>

<div class="card">
  <%= render "form", plant: @plant %>
</div>
